# Created by https://www.gitignore.io/api/cmake
# Edit at https://www.gitignore.io/?templates=cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
ims
SDL2-2.0.9

*.exe
*.dll
*.vcxproj.*
*.sln
.vs/
x64/
# End of https://www.gitignore.io/api/cmake
/Debug
/SDL2_ttf-2.0.15
/Game.cpp.bak
/bakuhatsu.bmp
/Game.h.bak
/Graphic.cpp.bak
/Graphic.h.bak
/main.cpp.bak
/net.cpp.bak
/net.h.bak
